<style>
  .ng-invalid {background-color: lightpink;}
  .ng-valid {background-color: : lightgreen;}
  span.error {color: red; font-weight: bold}
</style>

<nav class="navbar">
  <div class="btn-group btn-group-sm">
    <button type="button" class="btn btn-default navbar-btn" ng-click="diets=false; get('diety', '')">Przeglądaj</button>
    <button type="button" class="btn btn-default navbar-btn" ng-click="diets=true">Dodaj</button>
  </div>
</nav>

<div ng-hide="diets">

  {{diety}}
</div>

<div ng-show="diets">
  <p>uzupełnij wymagane pola, aby stworzyć swoją dietę</p>
  <form name="dietForm" novalidate>
    <div class="well">

      <h3>Pole 1</h3>
      <div class="form-group">
        <label>pole 1.1</label>
        <input name="pole" class="form-control" ng-model="dupa" required />
        <span class="error" ng-show="true">
          Uzupełnij pole
        </span>
      </div>

    </div>
  </form>
</div>
