<style>
  .ng-invalid {background-color: lightpink;}
  .ng-valid {background-color: : lightgreen;}
  span.error {color: red; font-weight: bold}
</style>

<nav class="navbar">
  <div class="btn-group btn-group-sm">
    <button type="button" class="btn btn-default navbar-btn" ng-click="get('historia_treningow'); trainings('historia treningow'); successfulOperation=false">Historia treningów</button>
    <button type="button" class="btn btn-default navbar-btn" ng-click="get('treningi'); get('cwiczenia'); trainings('add'); successfulOperation=false">Dodaj wykonany</button>
    <button type="button" class="btn btn-default navbar-btn" ng-click="get('cwiczenia'); trainings('new'); successfulOperation=false">Utwórz trening</button>
  </div>
</nav>

<div ng-show="trainingTab=='historia treningow'">
  <table id="produkty"  class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th ng-click="sortType = 'nazwa_cwiczenia'; sortReverse = !sortReverse">
            nazwa ćwiczenia
            <span ng-show="sortType == 'nazwa_cwiczenia' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'nazwa_cwiczenia' && sortReverse" class="fa fa-caret-up"></span>
        </th>
        <th ng-click="sortType = 'serie'; sortReverse = !sortReverse">
          liczba serii
          <span ng-show="sortType == 'serie' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'serie' && sortReverse" class="fa fa-caret-up"></span>
        </th>
        <th ng-click="sortType = 'seriepowtorzenia'; sortReverse = !sortReverse">
          liczba powtórzeń
          <span ng-show="sortType == 'seriepowtorzenia' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'seriepowtorzenia' && sortReverse" class="fa fa-caret-up"></span>
        </th>
        <th ng-click="sortType = 'obciazenie'; sortReverse = !sortReverse">
          obciążenie [kg]
          <span ng-show="sortType == 'obciazenie' && !sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="sortType == 'obciazenie' && sortReverse" class="fa fa-caret-up"></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="produkt in trainingHistory | orderBy:sortType:sortReverse">
        <td>{{produkt.nazwa_cwiczenia}}</td>
        <td>{{produkt.ilosc_serii}}</td>
        <td>{{produkt.ilosc_powtorzen}}</td>
        <td>{{produkt.obciazenie}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div ng-show="trainingTab=='add'">
<form name="trainingForm" novalidate>
  <div class="well">

    <h3>Dodaj wykonany trening</h3>
    <div class="form-group">
      <label>Dzień treningu</label>
      <select class="form-control"
              name="pole"
              style="width: auto"
              ng-model="trening.id_dnia"
              required>
        <option value="1">Poniedziałek</option>
        <option value="2">Wtorek</option>
        <option value="3">Środa</option>
        <option value="4">Czwartek</option>
        <option value="5">Piątek</option>
        <option value="6">Sobota</option>
        <option value="7">Niedziela</option>
      </select>

      <span class="error" ng-show="!trening.id_dnia">
        Uzupełnij pole
      </span>
      <br>
      <label>cwiczenia</label>
        <select class="form-control"
                name="pole"
                style="width: auto"
                ng-model="trening['id_cwiczenia']"
                required>
          <option ng-repeat="treningg in treningi" ng-if="treningg['id_dnia'] == trening['id_dnia']"  ng-value="treningg['id_cwiczenia']">{{cwiczenia[treningg['id_cwiczenia']]['nazwa_cwiczenia']}}</option>
        </select>
        <span class="error" ng-show="!trening['id_cwiczenia']">
          Uzupełnij pole
        </span>
      <br>
      <label>czy wykonano</label>
      <input name="pole" type="checkbox" class="form-control" ng-model="trening.czy_trening_wykonany" style="width: auto" required/>
      <br>
      <div ng-show="trening.czy_trening_wykonany">
      <label>liczba serii</label>
      <input name="pole" class="form-control" ng-model="trening.ilosc_serii" style="width: auto" required/>
      <span class="error" ng-show="!trening.ilosc_serii">
        Uzupełnij pole
      </span>
      <br>
      <label>liczba powtórzeń</label>
      <input name="pole" class="form-control" ng-model="trening.ilosc_powtorzen" style="width: auto" required/>
      <span class="error" ng-show="!trening.ilosc_powtorzen">
        Uzupełnij pole
      </span>
      <br>
      <label>obciążenie</label>
      <input name="pole" class="form-control" ng-model="trening.obciazenie" style="width: auto" required/>
      <span class="error" ng-show="!trening.obciazenie">
        Uzupełnij pole
      </span>
      <br>
      <label>data</label>
      <input name="pole" type="date" class="form-control" ng-model="trening.data_dodania" style="width: auto" required/>
      <span class="error" ng-show="!trening.data_dodania">
        Uzupełnij pole
      </span>
      </div>
    </div>
  </div>
</form>
<button ng-click='addTraining(trening); successfulOperation=true; trening = {}'
        class="btn btn-block btn-default btn-lg"
        ng-show='trainingForm.$valid'
        style="width: auto">
  Dodaj
</button>
<i class="fa fa-check fa-5x" aria-hidden="true" ng-show="successfulOperation"></i>

</div>

<div ng-show="trainingTab=='new'">
  <form name="newTrainingForm" novalidate>
    <div class="well">

      <h3>Dodaj nowy trening</h3>
      <div class="form-group">
        <label>Dzień treningu</label>
        <input name="pole" type="date" class="form-control" ng-model="newTraining.date" style="width: auto" required />
        <span class="error" ng-show="!newTraining.date">
          Uzupełnij pole
        </span>
        <br>
        <label>cwiczenia</label>
        <div ng-repeat="link in exercises track by $index">
          <select class="form-control"
                  name="pole"
                  style="width: auto"
                  ng-model="exercises[$index]"
                  required>
            <option ng-repeat="cwiczenie in cwiczenia" ng-value="cwiczenie['id']">{{cwiczenie.nazwa_cwiczenia}}</option>
          </select>
          <span class="error" ng-show="!exercises[$index]">
            Uzupełnij pole
          </span>
          <i class="fa fa-plus"
              ng-show="$last"
              ng-click="addExercise()">
          </i>
          <i class="fa fa-minus"
              ng-show="$last && $index != 0"
              ng-click="removeExercise()">
          </i>
        </div>
      </div>
    </div>
  </form>
  <button ng-click='addExercises(exercises, newTraining.date); successfulOperation=true;'
          class="btn btn-block btn-default btn-lg"
          ng-show='newTrainingForm.$valid'
          style="width: auto">
    Dodaj
  </button>
  <i class="fa fa-check fa-5x" aria-hidden="true" ng-show="successfulOperation"></i>
</div>
