<style>
  .ng-invalid {background-color: lightpink;}
  .ng-valid {background-color: : lightgreen;}
  span.error {color: red; font-weight: bold}
</style>

<nav class="navbar">
  <div class="btn-group btn-group-sm">
    <button type="button" class="btn btn-default navbar-btn" ng-click="get('historia_treningow', ''); trainings('history')">Historia treningów</button>
    <button type="button" class="btn btn-default navbar-btn" ng-click="trainings('add')">Dodaj wykonany</button>
    <button type="button" class="btn btn-default navbar-btn" ng-click="trainings('new')">Utwórz trening</button>
  </div>
</nav>

<div ng-show="trainingTab=='history'">
  HISTORIA

  {{trainingHistory}}
  <br>
</div>

<div ng-show="trainingTab=='add'">
  <p>uzupełnij wymagane pola, aby dodać ?WYKONANY? trening
HISTORIA TRENINGOW<br>

REJESTROWANIE TRENINGU:<br>
Widze to tak:<br>
1.Uzytkownik klika zarejestruj trening<br>
2.Wpisuje date treningu - my jakas funkcja data sprawdzamy jaki to dzien<br>
3.Wyswietlamy liste cwiczen dla danego dnia i uzytkownika<br>
TABELA REJESTROWNIA CWICZENIA<br>
checkbox | nazwa_cwiczenia | ilosc_serii | ilośc_powtorzen |<br>

ABY DODAĆ REKORD TRZEBA:<br>

- id_uzytkownika<br>
- id_cwiczenia<br>
- czy_trening_wykonano #1-tak, 0-nie (checkbox) ( jesli tak dajemy mozliwosc wypelnienia <br>pozostalych pul tj ilosc_serii,powtorzen i obciazenia, data zawsze.)<br>
- ilosc_serii<br>
- ilosc_powtorzen<br>
- obciazenie<br>
- data_dodania (data ktora uzytkownik wpisal na poczatku w input!)<br>
ZAWARTOŚĆ W PLIKU Co_kiedy_jak.txt<br>
  </p>
  <form name="productForm" novalidate>
    <div class="well">

      <h3>Pole 1</h3>
      <div class="form-group">
        <label>cwiczenie</label>
        <input name="pole" class="form-control" ng-model="treningi.nazwa" required />
        <span class="error" ng-show="!treningi.tluszcze">
          Uzupełnij pole
        </span>
        <br>
        <label>ilosc serii</label>
        <input name="pole" class="form-control" ng-model="treningi.ilosc_serii" required />
        <span class="error" ng-show="!treningi.nazwa">
          Uzupełnij pole
        </span>
        <br>
        <label>ilosc powtorzen</label>
        <input name="pole" class="form-control" ng-model="treningi.ilosc_powtorzen" required />
        <span class="error" ng-show="!treningi.weglowodany">
          Uzupełnij pole
        </span>
        <br>
        <label>obciazenie</label>
        <input name="pole" class="form-control" ng-model="treningi.obciazenie" required />
        <span class="error" ng-show="!treningi.bialka">
          Uzupełnij pole
        </span>
      </div>
    </div>
  </form>
  <button ng-click='add("produkty", produkt)' ng-show='productForm.$valid'>
    Dodaj
  </button>
</div>

<div ng-show="trainingTab=='new'">
  DODAJ

  JAKIE POLA TUTAJ POWINNY BYC?

TRENINGI<br>
<br>
Podobnie jak w dietach 1 trening sklada się z wielu rekordów dla których unikalne będą:<br>
id_uzytkownika + id_dnia<br>
<br>
Czyli aby utworzyc trening należy:<br>
<br>
- wybieramy dzien treningu<br>
- wyswietlamy liste cwiczen ( moze byc checkbox lub taki + jak w produktach)<br>
- dodajemy wszystkie cwiczenia i zapisujemy je jako trening<br>
<br>
CO BY SIE PRZYDALO <br>
1. Sortowanie cwiczen po partii mięśni<br>
2. Ew dodanie treningów na rodzaje parti miesni - NP. trening nóg itd. Jednak ja stwierdzilem<br>
ze jednego dnia mozna robic np. nogi i brzuch wiec moim zdaniem treningi dzienne sa spoko.<br>
3. Innego rodzaju sortowania<br>
<br>
DANE ABY DODAĆ TRENING (MUST HAVE)<br>
- id_cwiczenia<br>
- id_uzytkownika<br>
- id_dnia<br>
  ZAWARTOŚĆ W PLIKU Co_kiedy_jak.txt<br>
</div>
